body {
  background-color: Black;
}

h1 {
  color: #39FF14;
}

h3 {
  color: #39FF14;
}
  
h4 {
  color: #39FF14;
}

h5 {
  color: #39FF14;
}

p {
  color: #39FF14;
}

hr{
  background-color: #39FF14;
}
  
th {
  color:#39FF14;
}
  
td {
  color:#39FF14;
}
